*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --clr-veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --clr-desaturatedDarkBlue: hsl(214, 17%, 51%);
    --clr-grayishBlue: hsl(212, 23%, 69%);
    --clr-lightGrayishBlue: hsl(210, 46%, 95%);
}

html {
    font-size: 13px;
}





.attribution {
    font-size: clamp(9px, 7.9565px + 0.3261vw, 12px);
    text-align: center;
    margin-bottom: .5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}